{% include "header.html" %}

  <body>
    <div class="container">

        <div class="row">
          <div class="col-4">
              <h1>Catalog App</h1>
          </div>
          <div class="col-5">
          </div>
          <div class="col-3">
              Login section
          </div>
        </div>

        <p class="lead">Initial layout setting</p>


      <div class="row">
        <div class="col-4 decorated_list">
            <h2>Categories</h2>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
        <div class="col-8 decorated_list">
            <h2>Items</h2>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </div>
      </div>

{% include "footer.html" %}
